@import url(fontawesome-free/css/all.css);
@import url(bootstrap/dist/css/bootstrap.min.css);

input[type="date"]::-webkit-inner-spin-button{
	display: none;
}
input[type="number"]::-webkit-inner-spin-button{
	display: none;
}
.navbar {
	-webkit-user-select:none;
}
.strike-through{
	text-decoration: line-through;
}
.display-none{
	display: none;
}
body {
	padding-top: 60px;
}
body.modal-window {
	padding-top: 80px;
}
.close-log-button {
	margin-right: 0
}
.close-me-button{
	margin-right: 0
}
.footer-update-span{
	margin-right:10px;
	padding-right: 0px;
}
.footer-update-a{
	margin: 0px 15px 0px 0px;
}
.footer-nav{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 40px;
}
.pointer{
	cursor: pointer;
}
.claimed, .edit-agent, .remove-agent, .edit-lead, .remove-lead, .edit-monitor, .remove-monitor{
	cursor: pointer;
}
ul.nav-tabs a{
	color: #495057
}
